@font-face {
  font-family: "Affigere";
  src: url('./fonts/Affigere-Regular.woff2') format('woff2'),
       url('./fonts/Affigere-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bonbance";
  src: url('./fonts/Bonbance-BoldCondensed.woff') format('woff')
       url('./fonts/Bonbance-BoldCondensed.woff2') format('woff');
  font-weight: 200;
  font-style: normal;
} 

@font-face {
  font-family: "Jakob";
  src: url('./fonts/Jakob-Semi-Condensed.woff') format('woff')
       url('./fonts/Jakob-Semi-Condensed.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
} 
