@font-face {
  font-family: Affigere;
  src: url(/assets/fonts/Affigere-Regular.woff) format('woff'),
       url(/assets/fonts/Affigere-Regular.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Belgika;
  src: url(/assets/fonts/belgika-40th-webfont.woff) format('woff'),
       url(/assets/fonts/belgika-40th-webfont.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: Jakob;
  src: url(/assets/fonts/Jakob-Semi-Condensed.woff) format('woff'),
       url(/assets/fonts/Jakob-Semi-Condensed.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: FT88-E;
  src: url(/assets/fonts/FT88-Expanded.woff) format('woff'),
       url(/assets/fonts/FT88-Expanded.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: FT88-S;
  src: url(/assets/fonts/FT88-Serif.woff) format('woff'),
       url(/assets/fonts/FT88-Serif.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: Galgo-Bold;
  src: url(/assets/fonts/Galgo-Bold.woff) format('woff'),
       url(/assets/fonts/Galgo-Bold.woff2) format('woff2');
  font-weight: 200;
  font-style: 200;
} 

@font-face {
  font-family: Galgo-Regular;
  src: url(/assets/fonts/Galgo-Regular.woff) format('woff'),
       url(/assets/fonts/Galgo-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: CompagnonLight;
  src:url(/assets/fonts/Compagnon-Light.woff) format("woff"),
      url(/assets/fonts/Compagnon-Light.woff2) format("woff2");
  font-weight:200;
  font-style:normal;
}

