* {
  margin: -1rem;
  padding: 0;
  box-sizing: content-box;
}

html {
  margin-top: 2rem;
}

body {
  border-width: 0rem;
  align-items: end;
  justify-content: space-between;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0px;
}

.photos img {
  display: flex; 
  flex-wrap: wrap;
  flex-flow: wrap;
  width: 100vw;     
  height: 100vh;   
  object-fit: contain;

}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  z-index: 100;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(255, 0, 0);
  font-size: 20px;
  position: relative;
}


h2 {
  margin-right: 0rem;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Jakob";
}

ul li {
  margin: 2;
  padding: 0;
}

ul li a {
  position: fixed;
  margin-top: 1rem;
  top: 0; 
  left: 0;
  width: fit-content; 
  display: block;
  margin-top: 0.8rem;
  margin-left: 0rem;
  color: transparent;
  -webkit-text-stroke: 0.5px #000000;
  background-position-y:top ;
  font-size: 2rem;
  color: rgba(0, 255, 255, 0.52);
  padding: 0.5rem 1.2rem;
  font-weight: 900;
  font-family: "jakob";
  text-decoration: none;
  line-height: 2rem; 
  background-color: rgba(0, 0, 0, 0.864); 
  z-index: 1000;
}

p{
  font-family: "Jakob";
  font-weight: 50;
  font-size: 2rem;
}

ul li a:hover {
  color: #000000;
  -webkit-text-stroke: 1px #ffffff;
  transition: 0.5s;
}

ul li a:before,
ul li a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

ul li a:hover:before {
  color: #f00;
  z-index: 1;
  -webkit-text-stroke: 1px #000;
  transform: translate(10px, -10px);
}

ul li a:hover:after {
  color: #0ff;
  z-index: 2;
  -webkit-text-stroke: 1px #000;
  transform: translate(20px, -20px);
}

img .small{
  font-size: 12px;
  line-height: 1.15em;
}

img .medium{
  font-size: 1.5em;
  line-height: 0.95em;
  letter-spacing:-0.065em;
}

img .large{
	font-size: 5em;
	line-height: 0.8em;
	letter-spacing: -0.25rem;
}

img .extralarge{
	font-size: 13vw;
	line-height: 0.8em;
	letter-spacing: -1vw;
}

.extraextralarge{
	font-size: 30vw;
	line-height: 0.75em;
	letter-spacing: -2.5rem;
}

