* {
  margin: 0rem;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  border-width: 0rem;
  justify-content: center;

}

.photos {
  display: flex; 
  flex-wrap: wrap;
  justify-content: end; 
  align-items: center;
  
   
}

img {
  display: flex; 
  max-height: 200px;
  margin: -1rem;
  gap: -2rem; 
  padding: 0;
  filter: grayscale(100%); /* Bild standardmäßig monochrom */
  transition: filter 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.6);
  opacity: 1000;
  margin: -2rem;
  z-index: 1000;
  position: relative;
  filter: grayscale(0%);
}

h2 {
  margin-right: 1rem;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Jakob";
}

ul li {
  margin: 2;
  padding: 0;
}

ul li a {
  position: fixed;
  margin-top: 1rem;
  top: 0; 
  left: 0;
  width: fit-content; 
  display: block;
  margin-top: 0.6rem;
  margin-left: 0rem;
  color: transparent;
  -webkit-text-stroke: 0.5px #000000;
  background-position-y:top ;
  font-size: 2rem;
  color: rgba(0, 255, 255, 0.52);
  padding: 0.5rem 1.2rem;
  font-weight: 900;
  font-family: "jakob";
  text-decoration: none;
  line-height: 2rem; 
  background-color: rgba(0, 0, 0, 0.319); 
  z-index: 1000;
}

p{
  font-family: "Jakob";
  font-weight: 50;
  font-size: 2rem;
}

ul li a:hover {
  color: #000000;
  -webkit-text-stroke: 1px #ffffff;
  transition: 0.5s;
}

ul li a:before,
ul li a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

ul li a:hover:before {
  color: #f00;
  z-index: 1;
  -webkit-text-stroke: 1px #000;
  transform: translate(10px, -10px);
}

ul li a:hover:after {
  color: #0ff;
  z-index: 2;
  -webkit-text-stroke: 1px #000;
  transform: translate(20px, -20px);
}
