* {
  margin: 0rem;
  padding: 0;
  box-sizing: content-box;
}

html {
  margin-top: 0rem;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  border-width: 0rem;
  align-items: start; 
  justify-content: start; 
  max-width: 100%;
  font-family: Belgika;
  font-weight: 200;
  font-style: normal;
  overflow: auto;
  background-color: #000000;
}

main {
  grid-column: 2; 
  height: fit-content; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0rem;
  margin-bottom: -3rem;
  background-position-x: center;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  position: relative;
  z-index: 3;
}
.photos img {
  width: 222px;
  height: auto;
  max-height: 550px;
  max-width: 650px;
  margin: -3.4rem;
  position: relative;
  object-fit: cover;
  clip-path: polygon(0% 0%, 90% 0%, 90% 90%, 0% 90%);
  transition: transform 0.3s ease;
  aspect-ratio: 1 / 2;
  filter: grayscale(100%);
  background-color: rgb(0, 0, 0);
  z-index: 40; 
}
.photos img:hover{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  filter: blur(0px);
  border-radius: 0%;
  border: 2.7px solid #000000;
  opacity: 100%;
  padding: 0.2rem;
  position: fixed;
  margin: 0;
  scale: 1.4;
  bottom: 250px;
  left: 7%;
  z-index: 100;
  justify-content: center;
  align-items: center;
  clip-path: view-box;
  background-color: #ffffff;
  margin-bottom: 7px;
}


.info-box {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: fit-content;
  height: 7rem;
  background-color: #00000078;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  text-align:start;
  font-size: 7rem;
  letter-spacing: 30px;
  border-top: #ffffff;
  border-top: solid;
  padding-top: 22px;
  z-index: 43;
}
.info-box:hover {
  width: 100vw;
  height: 100vh;
  justify-content: left;
  align-items: center;
  text-align: left;
  text-decoration: none;
  z-index: 70;
  background-color: #ffffff92;
}
.info-box span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 2rem;
  letter-spacing: -2px;
  color: #000000;
  margin-left: 3rem;
}
.info-box:hover span {
  opacity: 1;
}
.info-box:hover::before {
  content: none;
}
.info-box::before {
  top: 0%;
  content: "PLARTEAU";
  transition: opacity 0.3s ease-in-out;
  margin-left: 2rem
}
.info-box:hover::before {
  opacity: 0;
}

@media (max-width: 768px) {
  .info-box {
      width: 100vw;
      height: 10vw;
      font-size: 4vw;
      letter-spacing: 3vw;
  }
  .info-box:hover {
      width: 100vw;
      height: 100vh;
      justify-content: left;
      align-items: center;
      text-align: left;
  }
  .info-box span {
      font-size: 4vw;
  }

  .photos img {
      width: 40vw;
      max-width: 200px;
  }
  .photos img:hover{
    height: fit-content;
    max-height: 333px;
    margin-left: 10px;
  
  }
}